html {
    height: 100%;
    font-size: 16px;
}

body {
  font-family:arial, sans-serif;
  font-size:14px;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
  height: 100%;
  z-index: 0;
}

h1 {
	display: inline;
}

em {
	color: blue;
}

#header,#footer {
	background: green;
	height: 52px;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
}

#buttons {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}

button {
	height: 40px;
	margin: 1%;
	width: 18%;
	float: left;
}

#content {
	position: absolute;
	width: 100%;
	top: 62px;
	bottom: 62px;
	overflow: hidden;
}

#main {
	margin: 0 auto 90px auto;
	width: 80%;
	height: 100%;
	overflow: auto;
}

input {
	width: 90%;
	margin: 5px 0 20px 0;
}

#scrollSpacer {
	display: none;
	height: 200px;
}
